### Micro_Challenge: The Identity Swap

Intialize x=100 and y=200. Swap their values so x become 200, and y becomes 100

In [1]:
x = 100, y = 200

x,y = y, x

print(f"After Swapping: x = {x} and y = {y}")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (514640914.py, line 1)

### Creating variables and assigning values

In [1]:
# Integer
a = 2
print(a)

2

In [2]:
# Integer
b = 12312320313887738912
print(b)

12312320313887738912

In [4]:
# Floating point
pi = 3.1416
print(pi)

3.1416

In [5]:
# String
c = 'A'
print(c)

A

In [6]:
# String
name = 'Sabbir Azim'
print(name)

Sabbir Azim

In [7]:
# Boolean
q = True
print(q)

True

In [8]:
# Empty value or null data type
x = None
print(x)

None

Variable assignment works from left to right.

In [9]:
0 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2160696577.py, line 1)

can not use python's keywords as a valid variable name.

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Variables names must start with a letter or an underscore

In [12]:
x = True 
_y = True

In [13]:
9x = False # starts with numeral

SyntaxError: invalid decimal literal (2268674458.py, line 1)

In [14]:
$y = False # starts with symbol

SyntaxError: invalid syntax (226105100.py, line 1)

The remainder of variable name may consist of letters, numbers and underscores

In [15]:
has_0_in_it = "Still Valid"

Names are case sensitive.

In [16]:
x = 9
y = X*5

NameError: name 'X' is not defined

No need to specify a data type

In [18]:
a = 2
print(type(a))

<class 'int'>

In [19]:
b = 535436547568924
print(type(b))

<class 'int'>

In [20]:
pi = 3.14
print(type(pi))

<class 'float'>

In [21]:
c = 'A'
print(type(c))

<class 'str'>

In [23]:
name = 'Sabbir Azim'
print(type(name))

<class 'str'>

In [24]:
q = True
print(type(q))

<class 'bool'>

In [25]:
x = None
print(type(x))

<class 'NoneType'>

Assign multiple values to multiple variables in one line

In [26]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

Must be the same number of
arguments on the right and left sides of the = operator

In [27]:
a, b, c = 1, 2

ValueError: not enough values to unpack (expected 3, got 2)

In [28]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

Assigning remaining values to equal number of arbitrary variables

In [29]:
a, b, _ = 1, 2, 3
print(a, b)

1 2

Number of _ and number of remaining values must be equal

In [30]:
a, b, _ = 1,2,3,4

ValueError: too many values to unpack (expected 3)

Assign a single value to several variables

In [31]:
a = b = c = 1
print(a, b, c)

1 1 1

In [32]:
b = 2 
print(a, b, c)

1 2 1

True for mutable types (like list, dict, etc.) just as it is true for immutable types (like int, string,
tuple, etc.)

In [33]:
x = y = [7, 8, 9] 
x = [13, 8, 9] 
print(y)

[7, 8, 9]

Cascading assignment is used for mutable types

In [34]:
x = y = [7, 8, 9] 
x[0] = 13 
print(y)

[13, 8, 9]

Nested lists are also valid in python.

In [36]:
x = [1, 2, [3, 4, 5], 6, 7] 
print( x[2])
print( x[2][1])

[3, 4, 5]
4

Assign a new value to a variable

In [41]:
a = 2
print(a)

2

In [38]:
a = "New value"
print(a)

New value

### Block Indentation

In [39]:
def my_function(): 
    a = 2 
    return a 
print(my_function())

2

In [42]:
if a > b: 
    print(a) 
else: 
    print(b)

2

One single-line statement may be put on the same line, though this form is generally not
considered good style

In [43]:
if a > b: print(a)
else: print(b)

2

In [46]:
if x > y: y = x
    print(y)

IndentationError: unexpected indent (3585665409.py, line 2)

In [45]:
if x > y: while y != z: y -= 1

SyntaxError: invalid syntax (83821412.py, line 1)

In [ ]:
def will_be_implemented_later():
    pass

### Datatypes

bool: A boolean value of either True or False.

In [48]:
x or y
x and y
not x

False

In Python 2.x and in Python 3.x, a boolean is also an int.

In [50]:
issubclass(bool, int)

True

In [51]:
isinstance(True, bool)

True

In [52]:
isinstance(False, bool)

True

Boolean values are used in arithmetic operations

In [53]:
True + False == 1

True

In [54]:
True * True == 1

True

int: Integer number

In [55]:
a = 2
b = 100
c = 123456789
d = 38563846326424324

float: Floating point number;

In [56]:
a = 2.0
b = 100.e0
c = 123456789.e1

complex: Complex numbers

In [57]:
a = 2 + 1j
b = 100 + 10j

The <, <=, > and >= operators will raise a TypeError exception when any operand is a complex number.

In [58]:
a < b

TypeError: '<' not supported between instances of 'complex' and 'complex'

Sequences and collections

Python differentiates between ordered sequences and unordered collections (such as set and dict).

strings (str, bytes, unicode) are sequences

reversed: A reversed order of str with reversed function

In [62]:
a = reversed('hello')
a

tuple: An ordered collection of n values of any type (n >= 0).

In [ ]:
a = (1, 2, 3)
b = ('a', 1, 'python', (1, 2))
b[2] = 'something else'  # immutable, not allowed

TypeError: 'tuple' object does not support item assignment

list: An ordered collection of n values (n >= 0)

In [65]:
a = [1, 2, 3]
b = ['a', 1, 'python', (1, 2), [1, 2]]
b[2] = 'something else' # mutable, allowed

set: An unordered collection of unique values.

In [66]:
a = {1, 2, 'a'}

dict: An unordered collection of unique key-value pairs;

In [67]:
a = {1: 'one',
2: 'two'}
b = {'a': [1, 2, 3],
'b': 'a string'}